:root {
    --color_padrao: #3778FA;
    --font-logo: SpaceGrotesk;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: SpaceGrotesk;
    src: url(/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf)
}

body{
    background: white;
    font-family:  SpaceGrotesk;
}

#menu-hamburguer{
  display: block;
}

.menu-desktop{
  display: none;
  
}

#header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 2rem 1rem;
    align-items: center;
}

.logo{
    font-family: var(--font-logo);
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color_padrao);
}

.slogan{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3.5rem;
}

.textos{
    width: 95%;
    font-family:  SpaceGrotesk;
}

.slogan h1{
    justify-self: center;
    font-size: 11vw;
    font-weight: 600;
    letter-spacing: -2px;
    text-align: center;
    font-family:  SpaceGrotesk;
}

.subText{
    padding-top: 2rem;
    text-align: center;
    font-weight: 400;
    font-size: 3.5vw;
    letter-spacing: 0px;
    font-family:  SpaceGrotesk;
    width: 93%;
    justify-self: center;
}

.slogan img{
    padding: 2rem;
    width: 100vw;
    height: auto;
}

.sesaoVideo{
    justify-self: center;
    font-weight: 400;
    text-align: center;
    padding: 2rem 0 1rem 0;
}

.topico h3{
    width: 83%;
    justify-self: center;
    text-align: center;
    font-size: 6.8vw;
    font-family:  SpaceGrotesk;
}

.topico2 {
    width: 85%;
    text-align: center;
    justify-self: center;
    font-size: 30px;
}

.topico2 h3{
  width: 83%;
  justify-self: center;
  text-align: center;
  font-size: 30px;
  font-family:  SpaceGrotesk;
  padding-bottom: 1rem;
}

.sesaoVideo img{
    padding: 3rem;
    width: 100vw;
    height: auto;
}

.sesaoFoto {
    display: flex;
    justify-self: center;
    flex-direction: column;
    font-weight: 400;
    text-align: center;
    padding: 2rem 0 8rem 0;
    justify-content: flex-start;
    align-items: center;
    font-family:  SpaceGrotesk;
}

.sesaoFoto img {
    padding: 2.4rem;
    width: 100vw;
    height: auto;
}

.fundoIMG{
    background-color: #F3F3F3;
    width: 92%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    height: auto;
}

.sesoesSelecao{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 88%;
    gap: 0.6rem;
    padding-bottom: 4rem;
}

.selecao{
    background-color: white;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 1.1rem 1rem 1.1rem 1rem;
    width: 100%;
}

.selecao2{
    background-color: white;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.2rem 1rem 1.2rem 1rem;
    width: 100%;
}

.selecao2 .destaque{
    text-align: start;
    color: #65676C;
    font-size: 10px;
    width: 72%;
}

.selecao2 .selec{
    display: flex;
    justify-content: space-between;
}
  
.footer {
  background-color: #3671fd;
  color: white;
  padding: 40px 20px;
  font-family: SpaceGrotesk, sans-serif;
}

.footer-top {
  margin-bottom: 30px;
}

.footer-top h2 {
  font-size: 11vw;
  font-weight: 600;
}

.footer-top p {
  font-size: 3.5vw;
  margin-top: 10px;
  max-width: 75%;
  color: #e0e0ff;
}

.learn-more {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
}

.divider {
  border: 0.5px solid #7ca2ff;
  margin: 30px 0;
}

.footer-columns-top,
.footer-columns-bottom {
  display: grid;
  
}

.footer-columns-top {
  grid-template-columns: repeat(2, 1fr);
  margin: 1rem 0 2rem 0;
  gap:27%;
  display:flex;
  justify-content: space-between;
}

.footer-columns-top .column{
display: flex;
flex-direction: column;
justify-content: space-around;
}

.footer-columns-bottom {
  grid-template-columns: repeat(3, 1fr);
  display: flex;
  justify-content: space-between;
}

.column h4 {
  margin-bottom: 10px;
}

.column p,
.column a {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  color: #d1d9f0;
  text-decoration: none;
  
}

.column a:hover {
  color: white;
}

.footer-copy {
  margin-top: 40px;
  font-size: 12px;
  color: #e0e0ff;
  text-align: center;
  width: 80%;
  justify-self: center;
  gap: 2rem;
}

.footer-copy a {
  color: #90e0ff;
  text-decoration: none;
}

.footer-bottom-links {
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  justify-self: center;
  
}

.footer-bottom-links a {
  color: #90e0ff;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.login {
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.start-free {
  background-color: #2A6CFF;
  color: white;
  padding: 8px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 14px;
}


@media (min-width: 1024px) {
  .footer-columns-top {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-columns-bottom {
    grid-template-columns: repeat(3, 1fr);
  }

  .menu-desktop{
    display: block;
    display: flex;
  justify-content: space-between;
  flex-direction: row;
  }

  #menu-hamburguer{
    display: none;
  }

}


